/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: rgb(170, 165, 165);
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $default;
  }
  
  .error {
    background-color: $error;
  }
  
  .info {
    background-color: $info;
  }
  
  .success {
    background-color: $success;
  }
  
  .warning {
    background-color: $warning;
  }

 
  .fade1:hover {
      background-color: $default-light;
      transition: background-color 0.5s ease-in;
    }

 .fade2:hover {
      background-color: $success-light;
      transition: background-color 0.5s ease-in;
    }

  .fade3:hover {
      background-color: $error-light;
      transition: background-color 0.5s ease-in;
    }

  .fade4:hover {
      background-color: $warning-light;
      transition: background-color 0.5s ease-in;
    }

  .fade5:hover {
      background-color: $info-light;
      transition: background-color 0.5s ease-in;
    }
  
  